:root{
    --selected_font: 'Franklin Gothic Medium';

    --palette_white: #FFFFFF;
    --palette_mid_white: #F5F5F5;
    --palette_black: #000000;
    --palette_gray: #2C2C2C;
    --palette_yellow: #FFAB00;

    --ccs_color: #fff700;
    --cba_color: #0026ff;
    --ccje_color: #000000;
    --cte_color: #ff6600;
}

body{
    /* background-color: var(--palette_mid_white); */
    text-align: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(140deg, white, rgb(26, 26, 26));
    background-attachment: fixed;
}

.header_holder{
    display: inline-block;
    margin-top: 2rem;
}

h2{
    font-family: var(--selected_font);
    margin-top: -35px;
}

button{
    border-radius: 50px;
    border: none;
    background-color: rgb(223, 223, 223);
}

.header_txt{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 100px;
    padding-top: 5rem;
}

    .button_container {
        height: 300px;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }


    .button_holder{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 18rem;
        align-items: end;
    }

        .button_holder button {
            cursor: pointer;
            width: 200px;
            height: 57px;
            margin: 9px 0px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bolder;
            font-size: 15px;
        }
        
        .button_holder button:hover , .member_container button:hover{
            transition: background-color 0.15s ease, font-size 0.15s;
            background-color: rgb(136, 136, 136);
        }
        
        .button_holder button:active, .member_container button:active{
            font-size: 16px;
        }

    .display_holder{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items:baseline;
        margin-left: -11rem;
        z-index: -1;
    }

        .subject_holder{
            background-color: black;
            display: inline-block;
            border-radius: 10px;
            padding: 0px 20px;
            margin: 10px;
            border: 2px solid black;
            transition: background-color 0.50s ease;
        }

            .subject_holder p {
                transition: color 0.50s ease;
            }

        .display_holder p{
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bolder;
            font-size: 17px;
            color: var(--palette_white);
        }

        .course_holder{ 
            background-color: black;
            width: 20rem;
            display: flex;
            border-radius: 10px;
            padding: 0px 20px;
            margin: 0px 200px;
            border: 2px solid black;
        }

        .course_text_holder{
            width: 50%;
            background-color: black;
            transition: background-color 0.15s ease;
        }

        .color_holder{
            width: 50%;
            height: 100%;
            background-color: yellow;
            transition: background-color 0.15s ease;
        }

        .course_text {
            color: black;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bolder;
            font-size: 17px;
            color: var(--palette_white);
            display: inline-block;
            transition: color 0.15s ease;
        }


    .text_holder {
        background-color: black;
        margin: 10px 100px;
        border-radius: 10px;
        display: flex;
        width: 20rem;
        border: 2px solid black;
    }

    .text_holder p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .lefthand{
        width: 40%;
        margin-left: 10%;
    }

    .righthand{
        height: 100%;
        width: 40%;
        transition: background-color 0.15s ease; 
    }

.member_container{
    width: 100vw;
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

    .member_container button{
        height: 50px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        padding: 0px 35px;
        height: 50px;
        font-weight: bolder;
        cursor: pointer;
    }

    .member_name_container{
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        margin-top: 10px;
        padding: 10px;
        opacity: 0;
        transition: opacity 1s ease, background-color 0.5s ease;
    }

    .member_name_container p {
        font-family: var(--selected_font);
        font-size: 30px;
        padding: 0;
        margin: 10px 0;
    }

/* decor */
.triangle_bg{
    position: absolute;
    left: -10rem;
    bottom: -5rem;
    width: 400px;
    transition: left 1s ease-out, bottom 1s ease-out;
}

.cylinder_bg{
    position: absolute;
    z-index: -1;
    transform: rotate(36deg);
    bottom: 9rem;
    left: 7rem;
    width: 12rem;
    filter: blur(2px);
    transition: left 1s ease-out, bottom 1s ease-out;
}

.spiral{
    position: absolute;
    z-index: -2;
    bottom: -10rem;
    left: 14rem;
    transform: rotate(-30deg);
    filter: blur(2px);
    width: 400px;
    transition: left 1s ease-out, bottom 1s ease-out;
}   

.cube_bg{
    position: absolute;
    width: 2000px;
    z-index: -1;
    bottom: -65rem;
    right: -85rem;
    transition: bottom 1s ease-out, right 1s ease-out;
}

.bicube_bg{
    position: absolute;
    z-index: -2;
    bottom: 2rem;
    right: 7rem;
    width: 450px;
    transition: bottom 1s ease-out, right 1s ease-out, filter 1s ease-out;
}

.donut_bg{
    position: absolute;
    z-index: -1;
    bottom: -23rem;
    right: 20rem;
    width: 500px;
    filter: blur(1px);
    transition: bottom 1s ease-out, right 1s ease-out;
}

.tetris_bg{
    position: absolute;
    right: -3rem;
    bottom: 20rem;
    filter: blur(1px);
    z-index: -2;
    transition: right 1s ease-out, bottom 1s ease-out;
}

.glass_mesh{
    position: absolute;
    width: 400px;
    left: -5rem;
    top: -3rem;
    z-index: -2;
    transition: left 1s ease-out, top 1s ease-out;
}

.glass_ring{
    position: absolute;
    width: 200px;
    left: 20rem;
    top: 1rem;
    z-index: -2;
    transition: left 1s ease-out, top 1s ease-out;
}

.glass_torus_knot{
    position: absolute;
    top: -7rem;
    width: 200px;
    left: 35rem;
    z-index: -2;
    transition: left 1s ease-out, top 1s ease-out;
}

.glass_lense{
    position: absolute;
    right: 30rem;
    width: 300px;
    top: -9rem;
    transform: rotate(50deg);
    z-index: -2;
    transition: top 1s ease-out, right 1s ease-out;
}

.glass_curl{
    position: absolute;
    width: 200px;
    right: 8rem;
    top: 0rem;
    z-index: -2;
    transition: right 1s ease-out, top 1s ease-out;
}

.glass_plug{
    position: absolute;
    width: 200px;
    top: 8rem;
    right: -9rem;
    z-index: -2;
    transition: top 1s ease-out, right 1s ease-out;
}

@media (max-width: 1280px) {
    .glass_mesh{
        left: -10rem;
    }

    .glass_ring{
        left: 13rem
    }

    .glass_torus_knot{
        left: 25rem;
    }

    .glass_lense{
        right: 23rem;
        width: 250px;
        top: -7rem;
    }

    .glass_curl{
        right: 6rem;
    }

    .cube_bg{
        right: -100rem;
    }

    .bicube_bg{
        right: -5rem;
        bottom: 0rem;
    }

    .donut_bg{
        right: 5rem;
    }

    .tetris_bg{
        right: -13rem;
        bottom: 18rem;
    }

    .triangle_bg{
        left: -13rem;
    }

    .cylinder_bg{
        left: 5rem;
    }

    .spiral{
        left: 7rem;
    }
}

@media (max-width: 1024px) {
    .glass_mesh{
        left: -17rem;
    }

    .glass_ring{
        left: 10rem;
        top: -5rem;
    }

    .glass_torus_knot{
        left: 18rem;
        top: -15rem;
    }

    .glass_lense{
        right: 19rem;
        width: 250px;
        top: -7rem;
    }

    .glass_curl{
        right: 0rem;
        top: -2rem;
    }

    .glass_plug{
        right: -16rem;
    }

    .cube_bg{
        right: -110rem;
    }

    .bicube_bg{
        right: -15rem;
        bottom: -5rem;
    }

    .donut_bg{
        right: -5rem;
        bottom: -28rem;
    }

    .tetris_bg{
        right: -19rem;
        bottom: 15rem;
    }

    .triangle_bg{
        left: -13rem;
        bottom: -10rem;
    }

    .cylinder_bg{
        left: 5rem;
        bottom: 5rem;
    }

    .spiral{
        left: 5rem;
        bottom: -18rem;
    }
}

@media (max-width: 768px) {
    .glass_mesh{
        top: 0rem;
        width: 350px;
    }

    .glass_ring{
        left: 3rem;
        top: -1rem;
        width: 150px;
    }

    .glass_lense{
        right: 19rem;
        width: 200px;
        top: -7rem;
    }

    .glass_curl{
        right: 2rem;
        top: -2rem;
    }
}

@media (max-width: 640px) {
    .glass_mesh{
        top: 0rem;
        width: 350px;
    }

    .glass_ring{
        left: 3rem;
        top: -1rem;
        width: 150px;
    }

    .glass_lense{
        right: 19rem;
        width: 200px;
        top: -7rem;
    }

    .glass_curl{
        right: 2rem;
        top: -2rem;
    }
}
